.info {
  background: rgba(255,255,255,0.75);
  width: 85%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px;

  @mixin atMedium {
    background: white;
    width: 75%;
    height: 70vh;
    padding: 0;
  }

  &__title {
    margin-bottom: 20px;

    h1 {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 1.9rem;

      @mixin atMedium {
        font-size: 2.6rem;
      }
    }

    &--desktop {
      display: none;

      @mixin atMedium {
        display: block;
      }
    }

    &--mobile {
      display: block;

      @mixin atMedium {
        display: none;
      }
    }
  }

  &__categories {
    display: flex;
    justify-content: space-between;

    > * {
      flex: 1;
      border-bottom: 2px solid gray;
      padding-bottom: 15px;
    }
  }

  &__destinations {
    display: flex;

    > * {
      flex: 1;
    }
  }

  &__input {
    border: none;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
    padding-top: 25px;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    /*padding-left: 15px;*/

    @mixin atMedium {
      background: white;
    }
  }

  &--selected {
    border-bottom: 3px solid black;
    padding-bottom: 15px;
  }

  &__dates {
    display: flex;
    padding-top: 15px;

    input {
      width: 50%;
      border: none;
      border-bottom: 1px solid lightgray;
      flex: 1;
      background: rgba(255, 255, 255, 0.75);

      @mixin atMedium {
        /*background: white;*/
      }
    }
  }

  &__duration {
    padding: 20px 0;

    :first-child {
      float: left;
    }

    :nth-child(2) {
      float: right;
    }

    input {
      width: 100%;
    }
  }

  &__button {

    color: white;
    background: rgba(10,50,200,0.8);
    border-radius: 5px;
    border: none;
    padding: 1rem 0;
  }


}
